<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<label for="cate" class="rem">Categoría:</label>
<select name="quiz[categoria]">
  <% if(quiz.categoria === "Otros") { %>
    <option value="Otro" selected>Otro</option>
  <% }else{ %>
    <option value="Otro">Otro</option>
  <% } %>
  <% if(quiz.categoria === "Humanidades") { %>
    <option value="Humanidades" selected>Humanidades</option>
  <% }else{ %>
    <option value="Humanidades">Humanidades</option>
  <% } %>
  <% if(quiz.categoria === "Ocio") { %>
    <option value="Ocio" selected>Ocio</option>
  <% }else{ %>
    <option value="Ocio">Ocio</option>
  <% } %>
  <% if(quiz.categoria === "Ciencia") { %>
    <option value="Ciencia" selected>Ciencia</option>
  <% }else{ %>
    <option value="Ciencia">Ciencia</option>
  <% } %>
  <% if(quiz.categoria === "Tecnologia") { %>
    <option value="Tecnologia" selected>Tecnología</option>
  <% }else{ %>
    <option value="Tecnologia">Tecnología</option>
  <% } %>
</select> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
